<!DOCTYPE html>
<html>

<head>
    <title>Oglasi</title>
</head>

<body>
    <h1>All Oglasi</h1>
    <ul>
        <% if (oglasi && oglasi.length> 0) { %>
            <% oglasi.forEach(oglas=> { %>
            <li>
                <strong>
                    <%= oglas.kategorija_oglasa %>
                </strong>:
                <%= oglas.tekst_oglasa %> -
                <%= oglas.cena %>
                <%= oglas.valuta %> (Expires: <%= oglas.datum_isteka %>)
                <div class="button-container">
                    <button onclick="openEditPage('<%= oglas.id %>')">Edit</button>
                    <button onclick="deletePost('<%= oglas.id %>')">Delete</button>
                </div>
            </li>
        <% }) %>
        <% } else { %>
            <p>No posts found.</p>
            <% } %>
       
    </ul>

    <script>

    const openEditPage = (postId)=>{        
        window.location.href = `/post/edit/${postId}`;
    }
    </script>
</body>

</html>